.env
.env.*
!.env.example
/var/
**/*.sqlite
**/*.sqlite3
**/*.db
**/*.log
**/uploads/**
!**/uploads/.htaccess
**/storage/**
!**/storage/.htaccess
**/out/
**/generated-*
**/node_modules/
**/vendor/
.idea/
.vscode/
.DS_Store
Thumbs.db
*.zip
/build/
/dist/
