<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<FilesMatch "\.(?:php|phtml|phar|cgi|pl|py|sh)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
